<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <rewrite>
            <rules>
                <!-- Redirect root to index.html -->
                <rule name="Root to Index" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                
                <!-- App route -->
                <rule name="App Route" stopProcessing="true">
                    <match url="^app$" />
                    <action type="Rewrite" url="app.html" />
                </rule>
                
                <!-- SPA Routes -->
                <rule name="SPA Routes" stopProcessing="true">
                    <match url="^app.*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app.html" />
                </rule>
                
                <!-- Fallback to index.html -->
                <rule name="Fallback to Index" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/app" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
